@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans', sans-serif;
	background: #fbfbfb;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #636363;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none !important;
	color: #636363;
}
.form-error,.form-error:focus{
	border: 1px solid red !important;
}
.disabled{
	pointer-events: none !important;
}
.cursor {
	cursor: pointer;
}
.nav>li>a:focus, .nav>li>a:hover{
	background: transparent;
	color: #ff0569 !important;
	font-weight: bold;
}
.bg-app{
	background: #474644;
}
.col-dashboard-admin{
	background: #474644;
	color: white;
	text-align: center;
	padding: 12px 11px;
	border: 2px solid #474644;
}
.col-dashboard-admin:hover{
	background: #fff;
	color: #474644;
	border: 2px solid #474644;
	transition: all 0.2s;
}
.image-upload{
	height: 130px;
	width: 130px;
	object-fit: cover;
}
.sampul-upload{
	height: 14rem;
	width: 40rem;
	object-fit: cover;
}
.btn-upload{
	position: relative;
	bottom: 86px;
	left: 10px;
	background: white;
	font-weight: 550;
	color: #545454;
	opacity: 0;
}
.btn-upload-sampul{
	position: relative;
	bottom: 89px;
	height: 0;
	opacity: 0;
}
.btn-upload-sampul span {
	background: white;
}
.image-view-upload:hover .btn-upload, .image-view-upload:hover .btn-upload-sampul{
	opacity: 1;
	transition: all 0.2s;
}
.image-view-upload:hover .image-upload, .image-view-upload:hover .sampul-upload{
	filter: brightness(50%);
	transition: all 0.2s;
}
.navbar-app{
	border: none !important;
	border-radius: 0 !important;
	color: #0f1e2c;
	background: #fff;
	width: 100%;
	font-size: 16px;
	padding: 5px 20px;
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
}
.navbar-app a{
	color: #0f1e2c;
}
.navbar-brand{
	font-size: 18px;
	color: #0f1e2c;
}
.navbar-app .nav>li>a
.navbar-app a{
	padding: 15px 7px 7px 7px;
	margin: 0px 3px;
}
.navbar-app .nav>li.active a
{
	color: #ff0569 !important;
	font-weight: bold;
}
.side-collapse{
	height: 100vh !important;
}
.btn-app{
	background: #474644;
	color: white !important;
	border-radius: 22px;
}
.btn-app:hover{
	background: #2f3e4c;
}
.back-drop{
	background: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}
.col-home{
	width: 85%;
	margin:0 auto;
}
.ellipsis-3{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.ellipsis-1{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.form-error{
	outline: none;
	border: 1px solid red !important;
}
.form-error:focus{
	outline: none;
	border: 1px solid red !important;
	box-shadow: none !important;
}
.btn-pink{
	background: #ff0569;
	color: white;
}
.pink{
	color: #ff0569;
}
.btn-pink:hover{
	color: white !important;
	background: #d20054;
}
.note-editable{
	height: 25rem;
}
thead tr th, tbody tr td{
	text-align: center;
}
.img-carousel{
	width: 100%;
	height: 40rem !important;
	object-fit: cover;
}
.nav-profile{
	height: 42px;
	width: 42px;
	border-radius: 50%;
	object-fit: cover;
}
.nav .open>a{
	background-color:transparent !important; 
}
.bg-gray{
	background: #efefef;
}
.rating{
	cursor: pointer;
	color: #d4d4d4;
}
/* prev siblings should be red */
.rate:hover .rating,
.rating.active,
#star1:hover,#star2:hover,#star3:hover,#star4:hover,#star5:hover
{
  color: gold;
}
.rate .rating:hover,
.rate .rating:hover ~ .rating {
  color: #d4d4d4;
}
/*
===========================================
    LOGIN/REGISTER
===========================================
*/
.col-login{
	margin-top: 27vh;
	width: 33%;
	min-width: 44rem;
}
.col-register{
	margin-top: 11vh;
	width: 33%;
	min-width: 44rem;
}
.active .tabs-login,.active .tabs-register {
	border: none !important;
	background: #ff0569 !important;
	color: white !important;
	border-radius: 7px !important;
	margin-bottom: 14px;
}
.active .tabs-login:focus,.active .tabs-login:hover,
.active .tabs-register:focus,.active .tabs-register:hover{
	color: white !important;
}
.tabs-login, .tabs-register {
	border: none !important;
}
.col-login-full{
	width: 36%;
	margin: 0 auto;
	background: white !important;
	margin-top: 20vh;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.col-login-full input {
	border: none;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #cecece;
}
.col-login-full input:focus {
	border: none;
	border-bottom: 1px solid #cecece;
	box-shadow: none;
	outline: none;
	font-size: 16px;
	transition: all 0.2s;
}
/*
===========================================
    SEARCH
===========================================
*/
.search-form{
	width: 22rem;
	padding-top: 8px;
}
.search-input{
	border-radius: 12px !important;
	z-index: 1 !important;
	padding-right: 37px !important;
	/*opacity: 0;*/
}
.input-group-btn{
	left: 188px;
	z-index: 3;
	color: #868686;	
}
.search-form:hover .search-input,.search-form .search-input:focus{
	opacity: 1;
	transition: all 0.2s;
	outline: none;
	box-shadow: none;
}
/*
===========================================
    NEWS
===========================================
*/
.col-news{
	background: #fbfbfb;
	padding: 9px 12px;
	margin-top: 3rem;
}
.thumb-news-img, .thumb-service-img{
	margin-top: 1.5rem;
}
.thumb-news-img img{
	height: 15rem;
	object-fit: cover;
	width: 100%;
}
.thumb-news-title, .thumb-video-title{
	padding: 5px 0px;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.thumb-news-desc{
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	height: 10rem;
}
.thumb-news-desc p{
	font-size: 14px !important;
}
.read-news{
	text-align: center;
	position: relative;
	bottom: 160px;
	opacity: 0;
	height: 0;
}
.read-news2{
	text-align: center;
	position: relative;
	bottom: 99px;
	opacity: 0;
	height: 0px;
}
.thumb-news:hover .read-news, .thumb-news:hover .read-news2{
	opacity: 1;
	transition:all 0.2s;
}

.thumb-news:hover{
	transition:all 0.2s;
	background: rgba(0, 0, 0, 0.21);;
}
.thumb-news:hover .thumb-news-img,.thumb-news:hover .thumb-news-title,.thumb-news:hover .thumb-news-desc{
	transition:all 0.2s;
	opacity: 0.3;
}
.thumb-video{
	height: 30rem;
	width: 100%;
}

/*
===========================================
    Service
===========================================
*/

.col-service{
	padding: 40px 12px;
	margin-top: 3rem;
	width: 85%;
	margin: 0 auto;
}

.thumb-service{
	background: white;
}
.thumb-service-img img{
	height: 25rem;
	object-fit: cover;
	width: 100%;	
}

.thumb-service-price{
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
	color: #e82d2d;
	padding-bottom: 2px;
}
.thumb-service-body{
	padding:10px;
}
.price-old{
	font-size: 14px;
	color: #777777;
	text-decoration: line-through;
}
.thumb-service-title{
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #565656;
}
.thumb-service-disc{
	position: absolute;
	top: 32px;
	right: 18px;
	background: #ff0569;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: bold;
	line-height: 50px;
}
/*
===========================================
    SALON
===========================================
*/
.col-salon{
	background: #fbfbfb;
	padding: 9px 12px;
	margin-top: 3rem;
}
.thumb-salon-img img{
	height: 22rem;
	object-fit: contain;
	width: 100%;	
}
.salon-img img{
	height: 30rem;
	object-fit: contain;
	width: 100%;	
}
.col-service-salon{
	background: #f9f9f9;
	padding: 11px 2px 11px 11px;
	overflow-y: scroll;
	height: 433px;
}
.col-menu-service:hover .detail-menu{
	opacity: 1;
	transition: all 0.2s;
}
.detail-menu{
	text-align: center;	
	position: relative;
	top: -69px;
	height: 0px;
	opacity: 0;
}
.form-checkout{
	background: #f1f1f1;
	padding: 6px 10px;
}
.img-menu-service{
	height: 90px;
	object-fit: cover;
}
.title-menu-service{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-weight: bold;
}
.desc-menu-service{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-align: justify;
	line-height: 16px;
}
.thumb-salon-title{
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.thumb-salon-addr{
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 40px;
}
.thumb-salon-open{
	margin-top: 3px;
	font-size: 16px;
	font-weight: bold;
}
.open-salon{
	background: #ff0569;
	padding: 1px 4px;
	border-radius: 9px;
	color: white;
}
.read-salon{
	text-align: center;
	position: relative;
	bottom: 166px;
	height: 0px;
	opacity: 0;
}
.bg-thumb-salon{
	background: white;
}
.thumb-salon-img{
	text-align: center;
}
.thumb-salon:hover .read-salon{
	opacity: 1;
	transition:all 0.2s;
}
.thumb-salon:hover.bg-thumb-salon{
	background: #ababab;
} 
.thumb-salon:hover{
	transition:all 0.2s;
	background: rgba(0, 0, 0, 0.21);;
}
.thumb-salon:hover .thumb-salon-img,.thumb-salon:hover .thumb-salon-title, .thumb-salon:hover .thumb-salon-open, .thumb-salon:hover .thumb-salon-addr{
	transition:all 0.2s;
	opacity: 0.3;
}
/*
===========================================
    PROFILE OWNER
===========================================
*/
.profile-owner{
	height: 60px;
	width: 60px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid #a2a2a2;
}
.profile-owner-upload{
	height: 90px;
	width: 90px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid #a2a2a2;
}
.list-service{
	height: 25rem;
}
.list-service img{
	height: 25rem;
	object-fit: cover;
}
.list-service-title{
	background: #00000070;
	position: relative;
	bottom: 39px;
	color: white;
	padding: 10px 10px;
}
.list-service-title span{
	overflow: hidden;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.list-service:hover img {
	filter: brightness(50%);
	transition: all 0.2s;
}
.list-service:hover .list-service-action {
	opacity: 1;
	transition: all 0.2s;
}
.list-service-action{
	text-align: center;
	position: relative;
	bottom: 190px;
	opacity: 0;
}
.list-service-action i{
	background: white;
	height: 57px;
	width: 57px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	font-size: 31px;
	margin-right: 3px;
}
.m-profile{
	background: #eee;
}
.m-profile-img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	object-fit: cover;
}
/*
===========================================
    NUMBER
===========================================
*/
.btn-number{
	width: 23px;
	background: #ececec;
	box-shadow: none;
	border: none;
	height: 26px;
	padding: 0;
	line-height: 26px;
}
.numb{
	text-align: center;
}
/*
===========================================
    ORDER USER
===========================================
*/
.user-order-img{
	max-width: 90px;
}
.user-order-img img{
	width: 80px;
	height: 80px;
	object-fit: cover;
}
.list-order{
	background: whitesmoke;
	margin-bottom: 7px !important;
	padding: 10px;
	font-size: 15px;
}
.list-order-total{
	margin-top: 10px !important;
	border-top: 1px solid #c7c7c7;
	padding-top: 3px !important;
	font-weight: bold;
}
.col-rekening{
    text-align: center;
    background: #efefef;
    padding: 8px;
    font-size: 22px;
}
.col-rekening img {
	max-height: 6rem;
}
/*
===========================================
    ARTICLE
===========================================
*/
.img-article{
	width: 100%;
	height: 33rem;
	object-fit: cover;
}
/*
===========================================
    MAP
===========================================
*/
#map {
	height: 30rem;
}
@media screen and (min-width: 769px) {
	.m-profile, .m-logout{
		display: none !important;
	}
}
@media screen and (max-width: 768px) {
	.side-collapse{
		position: absolute;
		width: 40vh;
		background: white;
		left: -300px;
		top: -1px;
		display: block;
		transition: all 0.2s ease-in-out;
		margin-left: -1px !important;
		z-index: 2;
	}
	.side-collapse.on{
		left: 0;
		transition: all 0.2s ease-in-out;
	}
	.navbar-app{
		padding: 0px;
	}
	.navbar-app a{
		color: #34495e;
	}
	.navbar-brand{
		padding-left: 0px;
	}
	.col-home{
		width: 98%;
	}
	.thumb-news-img img{
		height: 20rem;
	}
	.search-input{
		opacity: 1;
	}
	.search-form{
		width: 100%;
		padding-right: 17px;
		padding-top: 0;
	}
	.input-group-btn{
		left: 212px;
	}
	.account{
		display: none !important;
	}
	.col-rekening{
		max-height: none !important;
	}
	.col-login, .col-register{
		min-width: 95%;
	}
	.col-login-full{
		width: 95%;
	}
	.col-rekening{
		font-size: 16px;
		max-height: 5rem;
	}
}